.DeviceOverview{
    text-align: center;
}


.DeviceOverview-header{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.TextBox {
    background-color: #B4CDCD;
    text-align: left;
    width: 1000px;
    height: 600px;
}

.PageTitle{
    height: 100px;
    margin-left: 10px;
}

.Devices{
    margin-top: 20px;
    margin-left: 10px;
    height: 200px;
}

.AddDevice{
    text-align: center;
}