.Login{
    text-align: center;
    font-family: "Arial";
}

.Login-header{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.LoginContent{
    background-color: #B4CDCD;
    text-align: left;
    width: 1000px;
    height: 600px;
}